{
	"useTabs": false,
	"tabWidth": 4,
	"semi": true,
	"singleQuote": false,
	"trailingComma": "es5",
	"printWidth": 128,
	"plugins": ["prettier-plugin-svelte"],
	"quoteProps": "consistent",
	"bracketSpacing": true,
	"bracketSameLine": true,
	"arrowParens": "always",
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	]
}
